/* Common */ 
.pd-y{
    padding: 120px 0;
}
/* 
 -continer
 -opacity hover
 -siction header
 -siction padding
 - hover effict 1 ( lift to right)
 - hover effict 2 ( top to bottom )
*/
/* overlay */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.hover-opacity{
    transition:  opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
.ltreffect{
    position: relative;
}
.ltreffect::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1C1D21;
    z-index: -1;
    transition: width 0.5s;
}
.ltreffect:hover::after{
width: 100%;
}

/* .................................. */

.tb-effect{
    position: relative;
}
.tb-effect::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: #1C1D21;
    z-index: -1;
    transition: height 0.5s;
}
.tb-effect:hover::after{
    height: 100%;
}

/* General CSS Style */
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Css 3 */
}
h1 , h2 , h3 , h4, h5, h6{
    font-family: montserrat,sans-serif;
}
button{
    font-family:'Varela Round', sans-serif;
}
.contianer{
    width: 80%;
    margin: auto;
}
body{
    font-family: 'Varela Round', sans-serif;
}
.clear{
    clear: both;
}

.Section-Header{
    text-align: center;
}
.Section-Header .Section-title{
font-size: 45px;
text-transform: capitalize;
margin-bottom: 10px;
}
.Section-Header .line{
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 auto 70px auto;
    background-color: #6195ff;
}
/* Header */

.Header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}
.Header .logo{
    width: 40%;
    float: left;
}
.Header .logo img{
    width: 20%;
    margin-top: 15px;
}

.Header .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}
.Header .nav > li{
display: inline-block;


}
.Header .nav > li > a{
    color: #fff;
    padding: 40px;
    display: block;
    margin: -11px;
    font-size: -26px 0px 0px 0px;
    font-size: 21px;
   
}
.Header .nav > li > a.active::after ,
.Header .nav > li > a::after{
    content: "";
    display: block;
    height: 5px;
    background-color: #6195ff;
    transition: width 0.5s;
    margin-top: 2px;
}

.Header .nav > li > a.active::after{
    width: 100%;
    }

.Header .nav > li > a::after{
width: 0;
}

.Header .nav > li > a:hover::after{
width: 100%;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: #6195ff;
    width: 146px;
    text-align: center;
    /* left: -50%; */
    top: 80;
    height: 25;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
    list-style: none;
}

.dropdown-menu a{
    color: #fff;
    display: block;
    padding: 3px;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility: visible;
}
/* Home Section */
.home{
    height: 100vh;
    background-image: url(../images/background/background1.webp) ;
    background-size: cover; /* css3 */
    background-attachment: fixed;
    position: relative;
}

.home .title{
  
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.home .home-desc{
    margin: 20px 0;
    color: #fff;
    letter-spacing: 2px;
    line-height: 1.5;
}
.home-content{
width: 65%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}
.home .btn{
    min-width: 160px;
    padding: 15px 0;
    border-radius: 5px ;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: #fff;   
}
.home .btn-learn{
    background-color: #6195ff;
    color: #fff;
}
/* About Section */

.about-content{
overflow: hidden;
}
.about-item{
    width: 30%;
    float: left;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
}
.about-item-title{
    text-transform: capitalize;
margin-bottom: 10px;
transition: color 0.5s;
}
.about-item-desc{
    line-height: 1.5;
    margin-bottom: 10px;
    color: #999;
}
.about-item-link{
    color: #6195ff;
    text-transform: capitalize;
}
.about-item:hover .about-item-title{
    color: #fff;
}
.portofolio{
    background-color: #f9f9f9;
  
}
.portofolio-content{
    overflow: hidden;
    
}
.portofolio-item{
    width: 32%;
    float: left;
margin-bottom: 25px;
position: relative;
padding: 20px;
}
.portofolio-item .layer-content{
position: absolute;
top: 0; 
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
opacity: 0;
visibility: hidden;
transition: opacity 0.5s;
}
.portofolio-item:hover .layer-content{
opacity: 1;
visibility: visible;
}
.layer-content .layer-info{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50% , -50%);
    
}
.layer-content a i{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
     line-height: 40px;
     color: #fff;
     margin-top: 5px;
     position: relative;
     top: 10px;
transition: top 0.5s;
}
.layer-content .category{
color: #6195ff;
text-transform: uppercase;
display: block;
margin-bottom: 5px;
top: 10px;
transition: top 0.5s;
transition-delay: 0.5s;
}
 .layer-content-title{
    font-size: 20px;
    color: #fff;
position: relative;
top: 10px;
transition: top 0.5s;
}

.portofolio-item:hover .layer-content-title , .layer-content .category , .layer-content a i{
    top: 0;
}
.portofolio-item img{
    width: 100%;

}
.portofolio-item.mg{
    margin: 0 2%;
}
/* offersection */
.offer-content{
overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    margin-bottom: 20px;
    padding: 30px 15px 30px 70px ;
    border: 1px solid #e8e8e8;
    position: relative;
}
.offer-item.mg{
    margin: 0 2%;
}
.offer-item i{
    position: absolute;
    left: 15px;
    top: 35px;
    color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 10px;
    transition: color 0.5s;
}
.offer-item-desc{
    margin-bottom: 10px;
    line-height: 1.6;
    color: #999;
}
.offer-item:hover .offer-item-title{
    color: #fff;
}
/* service section */
.service{
background-color: #f9f9f9;
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .Section-Header{
    text-align: left;
}
.service-item .Section-Header .line{
    margin: 0 0 40px 0;
}
.service-item-desc{
    padding-right: 20px;
    color: #999;
    line-height: 1.5;
    font-size: 21px;
    margin-bottom: 20px;
}
.service-list{
    list-style: none;
}
.service-list li{
    margin-bottom: 15px;
    color: #999;
}
.service-list li i{
    color: #6195ff;
    border: 1px solid #6195ff;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
}
.service-item-img img{
    width: 100%;
}
.service-boolits{
    list-style: none;
    text-align: center;
}
.service-boolits li{
width: 10px;
height: 10px;
display: inline-block;
background-color: #e8e8e8;
margin: 10px 5px;
border-radius: 50%;
}
.service-boolits li.active{
    background-color: #6195ff;
}
.service-boolits li:hover{
    background-color: #6195ff;
}
/* numbers section */
.numbers{
    position: relative;
    background-image: url("../images/background/background2.webp");
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
}
.numbers-items{
overflow: hidden;
padding: 100px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 15px;
}
.number-item-title{
    color: #fff;
    font-weight: bold;
    font-size: 43px;
}
.number-item-text{
    color: #fff;
}
/* pricing Section */
.Pricing-plans{
    overflow: hidden;
}
.Pricing-item{
    width: 30%;
    float: left;
    padding: 40px 15px;
    border: 1px solid #e8e8e8;
    text-align: center;
}
.Pricing-item.mg{
    margin: 0 5%;
}
.Pricing-item-text{
 text-transform: uppercase;   
 font-size: 20px;
 color: #999;
 transition: color 0.5s;
}
.pricing-item-permonth{
    width: 160px;
    height: 160px;
    padding: 40px 0;
    margin: 20px auto;
    border: 3px solid #6195ff;
    border-radius: 50%;
}
.pricing-item-permonth .dollar{
    font-size: 60px;
    transition: color 0.5s;
}
.pricing-item-permonth .month{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    transition: color 0.5s;
}
.Pricing-list{
    list-style: none;
}
.Pricing-list li{
    color: #999;
    line-height: 1.8;
}
.pricing-item-Purchase{
    background: none;
    border: 0;
    display: block;
    width: 160px;
    border: #6195ff 2px solid;
    margin: 15 auto 0 auto;
    padding: 14px;
    color: #6195ff;
}
.Pricing-item:hover .pricing-item-permonth .dollar{
    color: #fff;
}
.Pricing-item:hover .pricing-item-permonth .month{
    color: #fff;
}
.Pricing-item:hover .Pricing-item-text{
    color: #6195ff;
}
/* Testemonail Section */

.Testemonail{
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}
.Testemonail-content{
    overflow: hidden;
    padding: 120px 0;
    width: 80%;
    margin: auto;
}
.Testemonail-item{
    width: 50%;
    float: left;
    color: #fff;
}
.Testemonail-item .Testemonail-toplayer{
    padding: 10px 2px 40px 100px;
    position: relative;
}
.Testemonail-item .Testemonail-toplayer img{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}
.Testemonail-item .Testemonail-toplayer h3{
margin: 5px 0;
}
.Testemonail-item .Testemonail-toplayer span{
    color: #6195ff;
}
.Testemonail-desc{
    line-height: 1.5;
    font-size: 24px;
}

/* Team Section */

.team-content{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 40px 20px;
    text-align: center;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-item .team-img img{
    width: 100%;
}
.team-item .team-info-title{
    color: #222;
    margin: 10px 0;
    transition: color 0.5s;
}
.team-item .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 17px;
    transition: color 0.5s;
}
.team-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s , visibility 0.5s;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: #fff;
    margin-left: auto;
}
.team-overlay a i{
    line-height: 40px;
}
.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-item.tb-effect{
    z-index: 1;
}
.team-item:hover .team-info-title{
    color: #fff;
}
.team-item:hover .team-info-text{
    color: #6195ff;
}
.team-item.mg{
    margin: 0 5% ;
}
/* Blog Section */
.blog{
    background-color: #f9f9f9;
}
.blog-items{
    overflow: hidden;
}
.blog-item{
    background-color: #fff;
    width: 30%;
    height: 520px;
    float: left;
    position: relative;
}
.blog-item img{
    width: 100%;
  
}
.blog-item.mg{
    margin: 0 5%;
}
.blog-item .icons{
    overflow: hidden;
}
.blog-item .icons i{
color: #6195ff;
float: left;
margin: 20px 0 25px 20px;
}
.blog-item .icons .blog-icons-title{
    float: left;
   margin: 20px 20px 25px 8px;
}
.blog-item .blog-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 20px 0;
}
.blog-info{
    padding:20px;
}
.blog-img img{
    width: 100%;
}
.blog-desc{
    color: #999;
    margin-bottom: 10px;
line-height: 1.5;
}
.blog-link{
    color: #6195ff;
}
/* Get In Touch Section */

.touch-list li{
    text-align: center;
    list-style: none;
    width: 30%;
    display: inline-block;
}
.touch-list li h3{
    margin-bottom: 25px;
}
.touch-list li i{
    color: #6195ff;
    margin-bottom: 20px;
    
}
.touch-list li.mg{
    margin: 0 4%;
}
.touch-list span{
color: #868F9B;
}


.nameandmail{
    color: #f4f4f4;
    margin-top: 60px;
    text-align: center;
}
.nameandmail input{
   margin: 10px;
    padding: 20px;
    width: 40%;
    height: 55px;
    background-color: #F4F4F4;
    border: 0;
    font-size: 20px;
    transition: border 0.1s 
}
.nameandmail input:focus{

    border: #000 solid 1px;
    border-bottom: #6195ff solid 4px;
}
.touch-form{
    display: inline-block;
}
.touch-form input{
    width: 100%;
    margin: 17px;
}
.btn-message{
    background: #6195ff;
    color: #fff;
    border: 0;
    border-radius: 5px;
    min-width: 190px;
    padding: 19px 0;
    cursor: pointer;
}
.nameandmail .down-btn{
    height: 100px;
}

/* Footer Section */

.footer{
    background-color: #1C1D21;
    text-align: center;
    padding: 60px 0;
}
.footer-links{
    list-style: none;
    margin: 20px 0;
}
.footer-links li{
    display: inline-block;

}
.footer-links li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #6195ff;
    color: #fff;
    margin: 0 5px;
    border-radius: 50%;
}
.footer-links li a i{
    line-height: 50px;
}
.footer .COPYRIGHT{
    color: #999;
    font-size: 16px;
    text-transform: uppercase;
}